* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html{
	height:100%;
}
body{
	margin:0;
	height:100%;
	background-color:#443e48;
	overflow:hidden;
}
.houses{
	height:350px;
	background-color: #010c20;
	position:relative;
	-webkit-animation: sky 30s;
     -moz-animation: sky 30s;
      -ms-animation: sky 30s;
       -o-animation: sky 30s;
          animation: sky 30s;
}
.stars{
	position:absolute;
	width:100%;
	height:100%;
	-webkit-animation: stars 30s;
     -moz-animation: stars 30s;
      -ms-animation: stars 30s;
       -o-animation: stars 30s;
          animation: stars 30s;
}
.stars > span{
	width:1px;
	height:1px;
	background-color:#eee;
	position:absolute;
}
.stars > span.bigger{
	width:2px;
	height:2px;
}
.stars .star1{
	left:50%;
	top:20px;
}
.stars .star2{
	left:20%;
	top:120px;
}
.stars .star3{
	left:70%;
	top:90px;
}
.stars .star4{
	left:40%;
	top:40px;
}
.stars .star5{
	left:60%;
	top:70px;
}
.stars .star6{
	left:30%;
	top:78px;
}
.stars .star7{
	left:80%;
	top:50px;
}
.stars .star8{
	left:25%;
	top:60px;
}
.stars .star9{
	left:40%;
	top:160px;
}
.stars .star10{
	left:10%;
	top:50px;
}
.stars .star11{
	left:5%;
	top:140px;
}
.stars .star12{
	left:13%;
	top:170px;
}
.stars .star13{
	left:90%;
	top:150px;
}
.stars .star14{
	left:95%;
	top:100px;
}
.stars .star15{
	left:88%;
	top:70px;
}
.stars .star13{
	left:45%;
	top:120px;
}
.stars .star14{
	left:75%;
	top:100px;
}
.stars .star15{
	left:18%;
	top:20px;
}
.houses .window{
	width:27px;
	height:35px;
	border:2px solid #561d16;
	background-color:#ffe991;
	border-radius:1px;
	position:absolute;
	top:0;
}
.houses .window.light{
	-webkit-animation: window 5s;
     -moz-animation: window 5s;
      -ms-animation: window 5s;
       -o-animation: window 5s;
          animation: window 5s;
}
.houses .window.firstlight{
	-webkit-animation: window 10s;
     -moz-animation: window 10s;
      -ms-animation: window 10s;
       -o-animation: window 10s;
          animation: window 10s;
}
.houses .window.secondlight{
	-webkit-animation: window 15s;
     -moz-animation: window 15s;
      -ms-animation: window 15s;
       -o-animation: window 15s;
          animation: window 15s;
}
.houses .window.thirdlight{
	-webkit-animation: window 20s;
     -moz-animation: window 20s;
      -ms-animation: window 20s;
       -o-animation: window 20s;
          animation: windows 20s;
}
.houses .window.fourthlight{
	-webkit-animation: windows 25s;
     -moz-animation: window 25s;
      -ms-animation: window 25s;
       -o-animation: window 25s;
          animation: window 25s;
}
.houses .window.left{
	left:24px;
}
.houses .window.right{
	right:24px;
}
.houses .window.middle{
	left:50%;
	margin-left:-13px;
}
.houses .window .horizontal-sep{
	width:100%;
	height:2px;
	background-color:#561d16;
	position:absolute;
	top:50%;
	margin-top:-1px;
}
.houses .window .vertical-sep{
	width:35px;
	height:2px;
	background-color:#561d16;
	position:absolute;
	top:50%;
	left:-22%;
	margin-top:-1px;
	-webkit-transform:  rotate(90deg);
    -ms-transform:  rotate(90deg);
    transform:  rotate(90deg);
}
.houses .door{
	width:32px;
	height:58px;
	border:2px solid #561d16;
	background-color:#4b3829;
	border-radius:1px;
	position:absolute;
	left:50%;
	margin-left:-16px;
	top:0;
}
.houses .door .doorframe{
	height:4px;
	width:38px;
	margin-left:-5px;
	background-color:#561d16;
	position:absolute;
	top:-4px;
}
.houses .door .design{
	text-align:center;
	padding-top:2px;
}
.houses .door .design > div{
	width:10px;
	height:22px;
	border:1px solid #3d2316;
	display:inline-block;
}
.houses .door .handle{
	width:4px;
	height:10px;
	background-color:#1f1317;
	margin-left:2px;
}
.houses .door .steps{
	position:absolute;
	bottom:-20px;
	height:20px;
}
.houses .door .steps .first{
	background-color:#321914;
	height:5px;
	width:40px;
	margin-left:-6px;
}
.houses .door .steps .second{
	background-color:#321914;
	height:5px;
	width:50px;
	margin-left:-11px;
}
.houses .door .steps .third{
	background-color:#321914;
	height:6px;
	width:60px;
	margin-left:-16px;
}
.houses .garage-door{
	width:120px;
	height:60px;
	background-color:#451f12;
	border:2px solid #3b1a13;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-60px;
}
.houses .brown-house{
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-410px;
}
.houses .brown-house.garage{
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-230px;
}
.houses .yellow-house{
	position:absolute;
	bottom:0;
	right:50%;
	margin-right:-190px;
}
.houses .yellow-house.garage{
	position:absolute;
	bottom:0;
	right:50%;
	margin-right:-370px;
}
.houses .brown-house .house-top{
	width: 0; 
	height: 0; 
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;	
	border-bottom: 80px solid #773b30;
}
.houses .yellow-house .house-top{
	width: 0; 
	height: 0; 
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;	
	border-bottom: 80px solid #d17f33;
}
.houses .left-roof{
	width:4px;
	height:125px;
	background-color:#561d16;
	position:absolute;
	display:block;
	-webkit-transform:  rotate(45deg);
    -ms-transform:  rotate(45deg);
    transform:  rotate(45deg);
	left:50%;
	top:-19px;
	margin-left:-45px;
}
.houses .right-roof{
	width:4px;
	height:125px;
	background-color:#561d16;
	position:absolute;
	display:block;
	-webkit-transform:  rotate(-45deg);
    -ms-transform:  rotate(-45deg);
    transform:  rotate(-45deg);
	right:50%;
	top:-19px;
	margin-right:-45px;
}
.houses .house-body{
	width: 160px; 
	height: 140px; 
}
.houses .garage .house-body{
	width: 160px; 
	height: 70px; 
	border-top:2px solid #521f1b;
}
.houses .brown-house .house-body{
	background-color: #773b30;
}
.houses .yellow-house .house-body{
	background-color: #d17f33;
}
.houses .second-floor, .houses .first-floor{
	height: 70px; 
	position:relative;
}
.houses .second-floor .window{
	top:10px;
}
.street .houses-sidewalk{
	height:8px;
	background-color:#7f7b89;
	border-bottom:2px solid #636574;
}
.street .houses-street{
	height:20px;
	background-color:#29232d;
}
.street .eric-sidewalk{
	height:90px;
	background-color:#7f7b89;
	border-bottom:13px solid #636574;
	position:relative;
}
.street .eric-sidewalk .snow{
	position:absolute;
	width:140%;
	margin-left:-20%;
	top:12px;
	height:46px;
	border-top:2px solid #767280;
	border-bottom:2px solid #676371;
}
.street .eric-sidewalk .snow .snow-left{
	float:left;
	width:34%;
	height:100%;
	background-color:#d1d1d1;
	transform: skewX(-78deg);
}
.street .eric-sidewalk .snow .snow-right{
	float:right;
	width:34%;
	height:100%;
	background-color:#d1d1d1;
	transform: skewX(78deg);
}
.body{
	position:absolute;
	top:200px;
	left:50%;
	margin:0 0 0 -110px;
	height:240px;
	width:220px;
}
.oval{
	width:190px;
	height:160px;
	border: none;
	border-radius: 50%;
	-webkit-transform:  rotate(-1deg);
    -ms-transform:  rotate(-1deg);
    transform:  rotate(-1deg);
}
.head{
	position:relative;
	margin:0 auto;
	background-color:#ecc9a4;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	z-index:2;
}
.head:before, .head:after{
	content: "";
	display:block;
	position:absolute;
	width:5px;
	height:5px;
	border-radius: 50%;
	background-color:#f3dc19;
}
.head:before{
	left:-2px;
	top:71px;
}
.head:after{
	right:-2px;
	top:66px;
}
.hat{
	position:absolute;
	left:0;
	top:0;
	background-color:#3fa9b0;
	z-index:2;
	overflow:hidden;
}
.hat:after{
	content: "";
	display:block;
	position:absolute;
	left:-20px;
	bottom:0;
	width:230px;
	height:115px;
	background-color:#ecc9a4;
	border-radius: 50%;
	-webkit-transform:  rotate(-1deg);
    -ms-transform:  rotate(-1deg);
    transform:  rotate(-1deg);
	z-index:3;
	border-top:5px solid #f3dc19;
	-webkit-box-shadow: 0px -1px 2px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0px -1px 2px 0px rgba(50, 50, 50, 0.2);
	box-shadow: 0px -1px 2px 0px rgba(50, 50, 50, 0.2);
}
.small-chin{
	position:relative;
	margin:0 auto;
	top:35px;
	z-index:4;
	width:40px;
	height:10px;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	border-bottom:1px solid #000;
}
.big-chin{
	position:absolute;
	margin:0 20px;
	bottom:6px;
	z-index:4;
	width:150px;
	height:90px;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	border-bottom:1px solid #000;
}
.big-chin:after{
	content: "";
	display:block;
	position:absolute;
	left:0;
	top:44px;
	width:150px;
	height:20px;
	background-color:#ecc9a4;
	z-index:4;
}
.eyes{
	position:relative;
	top:52px;
	margin:0 auto;
	width:140px;
	height:80px;
	z-index:5;
	text-align:center;
}
.eye{
	width:44px;
	height:54px;
	position:relative;
	border-radius: 50%;
	background-color:#fff;
	display:inline-block;
	vertical-align:top;
	font-size:0;
	line-height:0;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	margin:0 -1px;
	z-index:5;
	-webkit-animation: eyes 4s infinite step-start 0s;
     -moz-animation: eyes 4s infinite step-start 0s;
      -ms-animation: eyes 4s infinite step-start 0s;
       -o-animation: eyes 4s infinite step-start 0s;
          animation: eyes 4s infinite step-start 0s;
}
.eye.left{
	-webkit-transform:  rotate(30deg);
    -ms-transform:  rotate(30deg);
    transform:  rotate(30deg);
}
.eye.right{
	-webkit-transform:  rotate(-30deg);
    -ms-transform:  rotate(-30deg);
    transform:  rotate(-30deg);
}
.iris{
	display:block;
	position:absolute;
	top:18px;
	width:5px;
	height:5px;
	background-color:#000;
	border-radius: 50%;
	-webkit-animation: iris 4s infinite step-start 0s;
     -moz-animation: iris 4s infinite step-start 0s;
      -ms-animation: iris 4s infinite step-start 0s;
       -o-animation: iris 4s infinite step-start 0s;
          animation: iris 4s infinite step-start 0s;
}
.eye.left .iris{
	left:27px;
}
.eye.right .iris{
	right:27px;
}
.eyebrow{
	width:2px;
	height:35px;
	background-color:#000;
	position:absolute;
	z-index:6;
	display:block;
}
.eyebrow.left{
	-webkit-transform:  rotate(-55deg);
    -ms-transform:  rotate(-55deg);
    transform:  rotate(-55deg);
	left:50%;
	margin-left:-17px;
	top:-20px;
}
.eyebrow.right{
	-webkit-transform:  rotate(55deg);
    -ms-transform:  rotate(55deg);
    transform:  rotate(55deg);
	right:50%;
	margin-right:-15px;
	top:-17px;
}
.mouth{
	width:40px;
	height:20px;
	overflow:hidden;
	position:relative;
	z-index:7;
	margin: 0 auto;
	top:40px;
}
.mouth:after{
	content: "";
	display:block;
	position:absolute;
	z-index:7;
	left:0;
	top:0;
	vertical-align: middle;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #000;
}
.teeth {
	width: 40px;
	position: absolute;
	z-index:8;
	top: 1px;
	margin:0;
	padding:0 4px;
	text-align:center;
}
.teeth li {
	width: 6px;
	height: 5px;
	list-style: none;
	display: block;
	float:left;
	z-index: 1;
	font-size:0;
	line-height:0;
	background-color: #fff;
	margin:0 1px;
}
.teeth li:first-child {
	height: 4px;
	border-bottom-left-radius:5px;
}
.teeth li:last-child {
	height: 4px;
	border-bottom-right-radius:5px;
}
.top{
	position:absolute;
	z-index:9;
	top:-10px;
	left:50%;
	margin-left:-25px;
	height:20px;
	width:50px;
}
.top .left{
	width:15px;
	height:15px;
	display:block;
	border-radius:50%;
	background-color:#f3dc19;
	position:absolute;
	top:3px;
	left:0;
}
.top .center-left{
	width:20px;
	height:20px;
	display:block;
	border-radius:50%;
	background-color:#f3dc19;
	position:absolute;
	top:0;
	left:7px;
}
.top .center-right{
	width:20px;
	height:20px;
	display:block;
	border-radius:50%;
	background-color:#f3dc19;
	position:absolute;
	top:0;
	left:18px;
}
.top .right{
	width:15px;
	height:15px;
	display:block;
	border-radius:50%;
	background-color:#f3dc19;
	position:absolute;
	top:3px;
	left:30px;
}
.shirt-top{
	width:220px;
	height:100px;
	border-radius:50%;
	background-color:#db1439;
	position:absolute;
	top:100px;
	z-index:1;
}
.shirt-bottom{
	width:210px;
	height:60px;
	background-color:#db1439;
	position:absolute;
	left:5px;
	top:150px;
	z-index:1;
	border-bottom-left-radius:20%;
	border-bottom-right-radius:30%;
}
.shirt-bottom:before{
	content: "";
	display:block;
	width:150px;
	height:50px;
	background-color:#db1439;
	position:absolute;
	left:0;
	bottom:-5px;
	z-index:1;
	border-radius:50%;
}
.shirt-bottom:after{
	content: "";
	display:block;
	width:90px;
	height:10px;
	background-color:#583323;
	position:absolute;
	right:7px;
	bottom:-7px;
	z-index:1;
	border-radius:50%;
}
.buttons{
	width:15px;
	height:52px;
	position:relative;
	z-index:1;
	padding:2px 6px;
	margin:0 auto;
	border-right:1px solid #0b2718;
}
.buttons li{
	display:block;
	width:3px;
	height:5px;
	margin:0 0 15px 0;
	border-radius:50%;
	background-color:#0b2718;
}
.buttons li.middle{
	margin:0 0 15px 2px;
}
.hands{
	width:250px;
	position:absolute;
	left:-15px;
	top:140px;
	height:40px;
	z-index:2;
}
.hand{
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:#f3dc19;
	position:relative;
}
.hand:after{
	content: "";
	display:block;
	position:absolute;
	width:15px;
	height:15px;
	border-radius:50%;
	background-color:#f3dc19;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
}
.hand.left{
	float:left;
}
.hand.left:after{
	right:0;
	top:5px;
}
.hand.right{
	float:right;
}
.hand.right:after{
	left:0;
	top:8px;
}
.pants{
	position:absolute;
	z-index:1;
	top:200px;
	overflow:hidden;
	height:28px;
	width:100%;
}
.pants:after{
	content: "";
	display:block;
	background-color:#583323;
	width:200px;
	height:300px;
	margin:0 auto;
	border-radius:50%;
	position:relative;
	bottom:170px;
}
.shoes{
	width:200px;
	height:10px;
	position:absolute;
	bottom:12px;
	left:10px;
	overflow:hidden;
	z-index:2;
}
.shoes:before, .shoes:after{	
	content: "";
	display:block;
	position:absolute;
	background-color:#000;
	width:100px;
	height:15px;
	border-radius:50%;
}
.shoes:before{	
	bottom:-7px;
	left:2px;
}
.shoes:after{
	bottom:-8px;
	right:0;
}

/* Eyes Animation */
@-webkit-keyframes eyes {
  0%, 100% {
    background:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  }
  15%, 95% {
    background:#fff;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
  }
}
@-moz-keyframes eyes {
  0%, 100% {
    background:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  }
  15%, 95% {
    background:#fff;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
  }
}
@-o-keyframes eyes {
  0%, 100% {
    background:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  }
  15%, 95% {
    background:#fff;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
  }
}
@-ms-keyframes eyes {
  0%, 100% {
    background:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  }
  15%, 95% {
    background:#fff;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
  }
}
@keyframes eyes {
  0%, 100% {
    background:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  }
  15%, 95% {
    background:#fff;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.5);
  }
}

/* Iris Animation */
@-webkit-keyframes iris {
  0%, 100% {
    opacity: 0;
  }
  15%, 95% {
    opacity: 1;
  }
}
@-moz-keyframes iris {
  0%, 100% {
    opacity: 0;
  }
  15%, 95% {
    opacity: 1;
  }
}
@-o-keyframes iris {
  0%, 100% {
    opacity: 0;
  }
  15%, 95% {
    opacity: 1;
  }
}
@-ms-keyframes iris {
  0%, 100% {
    opacity: 0;
  }
  15%, 95% {
    opacity: 1;
  }
}
@keyframes iris {
  0%, 100% {
    opacity: 0;
  }
  15%, 95% {
    opacity: 1;
  }
}

/* Sky Animation */
@-webkit-keyframes sky {
	0% {		
		background-color: #bfd2f3;
	}
	100% {
		background-color: #010c20;
	}
}
@-moz-keyframes sky {
	0% {		
		background-color: #bfd2f3;
	}
	100% {
		background-color: #010c20;
	}
}
@-o-keyframes sky {
	0% {		
		background-color: #bfd2f3;
	}
	100% {
		background-color: #010c20;
	}
}
@-ms-keyframes sky {
	0% {		
		background-color: #bfd2f3;
	}
	100% {
		background-color: #010c20;
	}
}
@keyframes sky {
	0% {		
		background-color: #bfd2f3;
	}
	100% {
		background-color: #010c20;
	}
}

/* Window Animation */
@-webkit-keyframes window {
	0%, 99% {		
		background-color: #268b85;
	}
	100% {
		background-color: #ffe991;
	}
}
@-moz-keyframes window {
	0%, 99% {		
		background-color: #268b85;
	}
	100% {
		background-color: #ffe991;
	}
}
@-o-keyframes window {
	0%, 99% {		
		background-color: #268b85;
	}
	100% {
		background-color: #ffe991;
	}
}
@-ms-keyframes window {
	0%, 99% {		
		background-color: #268b85;
	}
	100% {
		background-color: #ffe991;
	}
}
@keyframes window {
	0%, 99% {		
		background-color: #268b85;
	}
	100% {
		background-color: #ffe991;
	}
}

/* Stars Animation */
@-webkit-keyframes stars {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes stars {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes stars {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes stars {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes stars {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}